
.container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;

    align-items: center;

}
.gameAndNav{
    width: 100%;
    height: 597px;
    background: #E3E3F3;
}